.newsletter__back {
  background-color: var(--color-primary);
}

.newsletter__back span {
  color: var(--color-primary);
}

.newsletter__container {
  background: #fff;
  border-radius: 55px;
  color: #121212;
  /* padding: 10px; */
  margin-bottom: 80px;
  margin-top: 80px;
  /* margin-top: -122px; */
}

.newsletter__container h2 {
  color: #121212;
}

.newsletter__portrait {
  height: fit-content;
  max-height: 40rem;
  /* border: 1rem solid var(--color-white); */
  /* transition: var(--transition); */
  border-radius: 2rem;
  /* overflow: hidden; */
}

.newsletter__portrait img {
  margin-top: -17vh;
  width: 60% !important;
}

.newsletter__cards {
  margin: 3rem 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card.newsletter__card {
  text-align: center;
}

.newsletter__back input,
.newsletter__back button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  color: #121212;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.newsletter__back button {
  /* width: 60%; */
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--color-primary);
}

.newsletter__back input:focus,
button:focus {
  background: var(--color-primary);
  color: #fff;
}

.newsletter__back input::placeholder,
button::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
}

.newsletter__back input:focus::placeholder,
button:focus::placeholder {
  color: #fff;
  opacity: 0.8;
}

.newsletter__back button:hover {
  background: var(--color-primary);
  cursor: pointer;
}