/* #newsletter {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('https://res.cloudinary.com/robles-identity/image/upload/v1686717659/C695A934-0B1F-4142-BD63-B0FF62C11C19_uuecix.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.newsletter__container {
  display: grid;
  grid-template-columns: 35% 100%;
  gap: 12%;
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 50px;
  margin-bottom: 80px;
  /* margin-top: -122px; */
}

.newsletter__container h2 {
  color: #121212;
}

.newsletter__portrait {
  height: fit-content;
  max-height: 40rem;
  /* border: 1rem solid var(--color-white); */
  /* transition: var(--transition); */
  border-radius: 2rem;
  /* overflow: hidden; */
}

.newsletter__portrait img {
  margin-top: -17vh;
  width: 60% !important;
}

.newsletter__cards {
  margin: 3rem 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card.newsletter__card {
  text-align: center;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .newsletter__left {
    padding: 20px;
  }

  .newsletter__right {
    margin-top: -5rem;
  }

  .newsletter__container {
    grid-template-columns: 1fr;
  }

  .newsletter__right h2 {
    text-align: center;
  }

}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .newsletter__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .newsletter__right .btn {
    margin-top: 1rem;
  }
}

.newsletter__container form input,
.newsletter__container form button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  color: #121212;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 600px) {
  .newsletter__container form input,
  .newsletter__container form button {
    width: 100%;
  }
}

/* @media screen and (min-width: 1024px) {
  .newsletter__container form input,
  .newsletter__container form button {
    width: 150%;
  }
} */

.newsletter__container form button {
  width: 60%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--color-primary);
}

.newsletter__container form input:focus,
button:focus {
  background: var(--color-primary);
  color: #fff;
}

.newsletter__container form input::placeholder,
button::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
}

.newsletter__container form input:focus::placeholder,
button:focus::placeholder {
  color: #fff;
  opacity: 0.8;
}

.newsletter__container form button:hover {
  background: var(--color-primary);
  cursor: pointer;
}


